<form [formGroup]="contactForm" class="pb-6 border-b broder-gray-500 bg-gray-200 px-6">
  <div class="text-2xl pt-6 mb-4">
    New Contact
  </div>

  <!-- Full Name Input -->
  <div class="flex flex-col mb-6">
    <label class="pb-2 text-gray-600" for="fullName">
      Full Name (i.e. John Doe)
      <span class="px-1 text-red-700">*</span>
    </label>
    <input
      class="border-2 border-gray-300 rounded-lg py-2 px-3 outline-none focus:border-purple-500"
      type="text"
      formControlName="fullName"
    />
    <small *ngIf="fullName.touched" class="text-red-700 tracking-wide">
      <span *ngIf="fullName.getError('required')">Full name is required</span>
    </small>
  </div>

  <!-- Email -->
  <div class="flex justify-between">
    <div class="flex flex-col flex-1 mr-2">
      <label class="pb-2 text-gray-600" for="email">
        Email Address
        <span class="px-1 text-red-700">*</span>
      </label>
      <input
        class="border-2 border-gray-300 rounded-lg py-2 px-3 outline-none focus:border-purple-500"
        type="email"
        formControlName="email"
      />
      <small *ngIf="email.touched" class="text-red-700 tracking-wide">
        <span *ngIf="email.getError('required')">Email is required</span>
        <span *ngIf="email.getError('email')">Input valid email</span>
      </small>
    </div>

    <!-- Phone -->
    <div class="flex flex-col flex-1 ml-2">
      <label class="pb-2 text-gray-600" for="phone">
        Phone
      </label>
      <input
        class="border-2 border-gray-300 rounded-lg py-2 px-3 outline-none focus:border-purple-500"
        type="tel"
        formControlName="phone"
      />
    </div>
  </div>

  <!-- Submit Button -->
  <div class="mt-6 inline-flex">
    <button
      (click)="onSaveContact()"
      class="px-3 py-2 rounded-lg border-2 text-purple-700 font-semibold tracking-wide border-purple-700 outline-none hover:bg-purple-700 hover:text-purple-100"
    >
      Create Contact
    </button>
  </div>
</form>
