<form [formGroup]="contactForm" class="pb-6 border-b broder-gray-500 bg-gray-200 px-6">
  <div class="text-2xl pt-6 mb-4">
    {{ formTitle }}
  </div>

  <!-- Full Name Input -->
  <div class="flex flex-col mb-6">
    <label class="pb-2 text-gray-600" for="fullName">
      Full Name (i.e. John Doe)
      <span class="px-1 text-red-700">*</span>
    </label>
    <input
      class="border-2 border-gray-300 rounded-lg py-2 px-3 outline-none focus:border-purple-500"
      type="text"
      formControlName="fullName"
    />
    <small *ngIf="fullName.touched" class="text-red-700 tracking-wide">
      <p *ngIf="fullName.getError('required')">Full name is required</p>
      <p *ngIf="fullName.getError('whitespace')">Full name is required</p>
    </small>
  </div>

  <div class="flex flex-col md:flex-row md:justify-between">
    <!-- Email -->
    <div class="inline-flex flex-col flex-1 mb-6 md:mb-0 md:mr-2">
      <label class="pb-2 text-gray-600" for="email">
        Email Address
        <span class="px-1 text-red-700">*</span>
      </label>
      <input
        class="border-2 border-gray-300 rounded-lg py-2 px-3 outline-none focus:border-purple-500"
        type="email"
        formControlName="email"
      />
      <small *ngIf="email.touched" class="text-red-700 tracking-wide">
        <p *ngIf="email.getError('required')">Email is required</p>
        <p *ngIf="email.getError('email')">Input valid email</p>
        <p *ngIf="email.getError('whitespace')">Input valid email</p>
      </small>
    </div>

    <!-- Phone -->
    <div class="flex flex-col flex-1 md:ml-2">
      <label class="pb-2 text-gray-600" for="phone">
        Phone
      </label>
      <input
        class="border-2 border-gray-300 rounded-lg py-2 px-3 outline-none focus:border-purple-500"
        type="tel"
        formControlName="phone"
      />
      <small *ngIf="phone.touched" class="text-red-700 tracking-wide">
        <p *ngIf="phone.getError('whitespace')">Input valid phone number</p>
        <p *ngIf="phone.getError('phone')">Input valid phone number</p>
      </small>
    </div>
  </div>

  <!-- Submit Button -->
  <div class="mt-6 inline-flex">
    <button
      *ngIf="!update"
      (click)="onSaveContact()"
      class="px-3 py-2 rounded-lg border-2 text-purple-700 font-semibold tracking-wide border-purple-700 outline-none hover:bg-purple-700 hover:text-purple-100"
    >
      Create Contact
    </button>
    <button
      *ngIf="update"
      (click)="onUpdateContact()"
      class="px-3 py-2 rounded-lg border-2 text-purple-700 font-semibold tracking-wide border-purple-700 outline-none hover:bg-purple-700 hover:text-purple-100"
    >
      Update
    </button>
  </div>
</form>
