<div class="px-2 py-3">
  <app-topbar></app-topbar>

  <div class="mt-5 text-lg text-gray-600 font-semibold inline-flex flex-col">
    <a
      *ngFor="let item of navItems"
      [routerLink]="[item.path]"
      routerLinkActive="text-purple-700"
      class="inline-flex items-center px-4 py-1 my-1 hover:bg-purple-100 hover:text-purple-700 rounded-full"
    >
      <div class="mr-3">
        <i class="material-icons line-height-unset">{{ item.icon }}</i>
      </div>
      <div>{{ item.label }}</div>
    </a>
  </div>
</div>
